<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
    <h1>Only CSS</h1>
    <h3>Styles </h3>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2"><button class="btn btn-primary">primary</button></div>
                <div class="col-md-2"><button class="btn btn-secondary">secondary</button></div>
                <div class="col-md-2"><button class="btn btn-cancel">cancel</button></div>
                <div class="col-md-2"><button class="btn btn-authorize">authorize</button></div>
                <div class="col-md-2"><button class="btn btn-deny">deny</button></div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-1"></div>

                <div class="col-md-2"><button class="btn  btn-primary disabled">disabled</button></div>
                <div class="col-md-2"><button class="btn btn-secondary disabled">disabled</button></div>
                <div class="col-md-2"><button class="btn btn-cancel disabled"> disabled</button></div>
                <div class="col-md-2"><button class="btn btn-authorize disabled">disabled</button></div>
                <div class="col-md-2"><button class="btn btn-deny disabled"> disabled</button></div>
                <div class="col-md-1"></div>

            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <h3>Sizing</h3>

    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-primary btn-sm">small button</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary">default button</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary btn-lg">large button</button>
                </div>
            </div>
        </div>
        <div class="col-md-5"></div>
    </div>
</div>

<button appclass="btn-primary">boton primario</button>
<h1>Using Angular</h1>

<app-button buttonclass="primary" text="Primary">mierda</app-button>
<app-button buttonclass="secondary" text="Secondary"></app-button>
<app-button buttonclass="cancel" text="Cancel"></app-button>
<app-button buttonclass="authorize" text="Authorize"></app-button>
<app-button buttonclass="deny" text="Deny"></app-button>
<app-button buttonclass="disabled" text="Disabled"></app-button>
<app-button buttonclass="primary small" text="Small"></app-button>
<app-button buttonclass="primary large" text="Large"></app-button>